caption{
text-decoration: underline;
font-size: 50px;
}
table{
border-collapse: collapse;
border: solid 1Spx;
}
#OK{
background-color:yellow;
color:blue;
}
#A1{
background-color:red;
}
td{
border-style: groove;
}